<br><br><br>
<hr>
<h1>Heroes from Firebase</h1>
<div class="row animated fadeIn fast">
  <div class="col-md-12">

    <div class="table-responsive">

      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Casa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of heroes | keys; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ heroes[k].nombre }}</td>
            <td>{{ heroes[k].casa }}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="(heroes | keys).length === 0 && !loading"
          class="alert alert-info" role="alert">
        <strong>No hay</strong> registros que mostrar
      </div>

      <div *ngIf="loading"
            class="alert alert-warning" role="alert">
        <strong>Cargando...</strong> por favor espere
      </div>


    </div>

  </div>
</div>
