<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">PelisApp</h1>
    <p class="lead">Esta es una aplicación de películas</p>
  </div>
</div>

<div class="container">
  <br>


  <app-galeria [peliculas]="cartelera|slice:0:6" titulo="Películas en cartelera"></app-galeria>

  <!--
  <app-galeria [peliculas]="populares|slice:0:6" titulo="Populares"></app-galeria>

  <app-galeria [peliculas]="popularesNinos|slice:0:6" titulo="Populares entre los más pequeños"></app-galeria>
-->

  <app-heroes></app-heroes>


</div>